- wrap_layout :layout do
  %article.entry{ itemscope: true, itemtype: "http://schema.org/BlogPosting" }
    %header
      %h1{ itemprop: "name" }= current_article.title
      %p.meta
        %time{ itemprop: "datePublished", datetime: current_article.date.to_time.to_s }= current_article.date.strftime('%Y/%m/%d %H:%M')
    .article-body{ itemprop: "articleBody" }
      = preserve do
        = yield
    %footer.meta
      %ul.pull-left.nav.nav-pills.tags{ itemprop: "keywords" }
        - current_article.tags.each do|tag|
          %li
            = link_to tag_path(tag) do
              %span.glyphicon.glyphicon-tag
              &nbsp;
              = tag
      %ul.nav.nav-pills.pull-right
        %li
          = link_to( current_article.source_file.gsub(/^.+\/([^\/]+)$/, 'https://github.com/ngsio/ja.ngs.io/blob/master/source/\1'), title: 'View on GitHub', rel: 'nofollow' ) do
            %span.fa.fa-github-alt &nbsp;
      .social-buttons.clearfix
        = link_to 'つぶやく', 'http://twitter.com/share', class: 'twitter-share-button', 'data-url' => "http://ja.ngs.io#{current_article.url}", 'data-via' => 'ngs', 'data-counturl' => "http://ja.ngs.io#{current_article.url}", 'rel' => 'nofollow'
        .g-plusone{ 'data-size' => 'medium' }
        .fb-like{ 'data-send' => 'true', 'data-width' => '300', 'data-show-faces' => 'false' }

    .disqus= disqus

  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/#{ I18n.locale.to_s == 'ja' ? 'ja_JP' : 'en_US' }/all.js#appId=250606621791116&xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  :javascript
    (function() {
      var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
  :javascript
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();


