---
pageable: true
---
%p.home-link= link_to 'ホーム', '/'
%h1
  %time
    - case page_type
    - when 'day'
      = Date.new(year, month, day).strftime('%Y年%m月%d日')
    - when 'month'
      = Date.new(year, month, 1).strftime('%Y年%m月')
    - when 'year'
      = "#{year}年"
  のエントリー
= partial "entries"