---
pageable: true
per_page: 12
---
%p.home-link
  = link_to '/' do
    %span.glyphicon.glyphicon-home
    &nbsp;ホーム
%h1
  タグ:
  %q= tagname
= partial "entries", locals: locals

- content_for :title do
  = %Q{タグ: &quot;#{tagname}&quot;}